.apropos-collapses-div {
    margin-inline: 108px;
    margin-top: 31px;
    margin-bottom: 46px;
}

.logement-collapses-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 14px;
}

/*  */
.apropos-full-collapse-card {
    margin-bottom: 31px;
    border-radius: 5px;
}

.apropos-full-collapse-card h2 {
    font-size: 24px;
}

.logement-full-collapse-card {
    display: flex;
    flex-direction: column;
    width: 47%;
    border-radius: 10px;
}

.logement-full-collapse-card h2 {
    font-size: 18px;
    height: 52px;
    display: flex;
    align-items: center;
}

/*  */
.logement-collapses-div .collapse-card-header {
    border-radius: 10px;
}

.logement-collapses-div .collapse-card-text {
    border-radius: 0 0 10px 10px;
    font-size: 18px;
    line-height: 25px;
}

.collapse-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    width: 100%;
    border-radius: 5px;
    background: #FF6060;
    color: white;
    border: none;
    padding: 0 29px 0 18px;
    z-index: 1;
    position: relative;
}

.collapse-card-title {
    font-weight: 500;
    
}

.collapse-card-text {
    background: #F7F7F7;
    border-radius: 0 0 5px 5px;
    margin-top: -8px;
    display: flex;
    z-index: 0;
    position: relative;
    padding: 30px 18px 18px 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    height: 100%;
}

.equipments-div {
    margin: 0;
    padding: 0;
    line-height: 26px;
}

.svg-inline--fa {
    height: 23px;
}

@media only screen and (max-width: 767px) {
    .logement-collapses-div {
        flex-direction: column;
        width: 100%;
        margin-top: 16.5px;
        margin-bottom: 44.5px;
    }

    .logement-full-collapse-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .collapse-card-header {
        height: 30px;
        padding-left: 11.5px;
        padding-right: 10px;
    }

    .logement-full-collapse-card h2, .apropos-full-collapse-card h2 {
        font-size: 13px;
    }

    .logement-collapses-div .collapse-card-header {
        border-radius: 5px;
    }
    
    .logement-collapses-div .collapse-card-text, .apropos-collapses-div .collapse-card-text {
        border-radius: 0 0 5px 5px;
        font-size: 12px;
        line-height: 17px;
    }

    .apropos-collapses-div {
        margin-inline: 0;
    }

    .svg-inline--fa {
        height: 17px;
    }
}