.data-container {
    margin-top: 30px;
}

.top-data-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.host-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.host-rate-div {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.host-portrait {
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.host-name {
    display: flex;
    align-items: flex-end;
    /* width: 60px; */
    text-align: right;
    margin-right: 10px;
    white-space:pre-line;
}

.stars-rates-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    width: 100%;
    justify-content: space-between;
}

.name-tags-div h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
    margin: 0;
}

.name-tags-div h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

.tags-div {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    min-height: 25px;
    margin-bottom: 0;
}

.tag {
    display: flex;
    background: #FF6060;
    border-radius: 10px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    align-items: center;
    margin-right: 10px;
    padding-inline: 30px;
}

.logement-collapses-div {
    display: flex;
    flex-direction: row;
}