.card-link {
    display: flex;
    width: 28.6%;
    min-width: 270px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 50px;
    margin-right: min(4.7%);
    transition: all .2s ease-in-out; 
}

.card-link img {
    height: 340px;
    width: 100%;
    border-radius: 10px;
}

.card-link h2 {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    /* letter-spacing: 0em; */
    height: 52px;
    width: auto;
    left: 20px;
    right: 20px;
    top: 268px;
}

.card-link:hover {
    transform: scale(1.1); 
}