.card-link {
    display: flex;
    width: 28.334%;
    margin-inline: 2.49966%;
    border-radius: 10px;
    position: relative;
    margin-bottom: 50px;
    transition: all .2s ease-in-out; 
    aspect-ratio: 1 / 1;
}

.card-link img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 0;
}

.card-link h2 {
    display: flex;
    align-self: flex-end;
    z-index: 5;
    flex-direction: row;
    flex-wrap: wrap; 
    height: auto ;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    margin: 20px;
}

.card-link:hover {
    transform: scale(1.1); 
}

@media only screen and (max-width: 1040px) {
    .card-link {
        height: 255px;
        width: 100%;
    }

    .card-link:hover {
        transform: none;
    }
}

@media only screen and (max-width: 767px) {
    .card-link {
        margin-inline: 0;
        margin-bottom: 20px;
    }
}