.data-container {
    margin-top: 30px;
}

.top-data-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.host-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.host-rate-div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.host-portrait {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.host-name {
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
}

.stars-rates-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
}

.name-tags-div {
    margin-right: 20px;
}

.name-tags-div h1 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 0;
}

.name-tags-div h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

.tags-div {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin-bottom: 0;
}

.tag {
    display: flex;
    background: #FF6060;
    border-radius: 10px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    height: 25px;
    text-align: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-inline: 30px;
}

@media only screen and (max-width: 767px) {
    .data-container {
        margin-top: 0;
    }

    .top-data-div {
        flex-direction: column;
    }

    .tags-div {
        margin-top: 10px;
    }

    .tag {
        border-radius: 5px;
        height: 18px;
        font-size: 12px;
    }
    
    .host-rate-div {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 32px;
    }

    .stars-rates-div {
        height: 15px;
        width: 98px;
        margin: 0;
    }

    .host-portrait {
        width: 32px;
        height: 32px;
    }

    .host-name {
        font-size: 12px;
    }

    .name-tags-div h1 {
        font-size: 18px;
        margin-top: 15px;
    }

    .name-tags-div h2 {
        font-size: 14px;
    }
}