.slideshow-section {
    display: flex;
    max-height: 415px;
    position: relative;
    margin-top: 20px;
}

.slideshow-section img {
    border-radius: 25px;
    max-height: 415px;
    min-height: 255px;
    width: 100%;
}

.slide {
    opacity: 0;
    transition-duration: 0.5s ease;
}
  
.slide.active {
    opacity: 1;
    transition-duration: 0.5s;
    width: 100%;
    align-items: center;
}

.arrow {
    font-size: 79px;
    width: 46px;
    position: absolute;
    color: white;
    cursor: pointer;
    top: 40%;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

.bulletpoint {
    position: absolute;
    left: 50%;
    bottom: 24px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

@media only screen and (max-width: 767px) {
    .arrow {
        font-size: 24px;
        width: 24px;
        top: 45.5%;
    }

    .arrow.left {
        left: 0;
    }
    
    .arrow.right {
        right: 0;
    }

    .slideshow-section {
        height: 255px;
        margin-top: 27px;
    }

    .slideshow-section img {
        border-radius: 10px;
        height: 100%;
    }

    .bulletpoint {
        display: none;
    }
}