body {
  color: #FF6060;
  margin: 0;
}

a {
  color: #FF6060;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  object-fit: cover;
}

* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

main, header {
  margin-inline: 100px;

}

ul {
  list-style: none;
}

/* masquage scrollbar latéral de la page */
::-webkit-scrollbar {
  display: none;
}

/* Responsive Mobile */
@media screen and (max-width: 767px) {
  main, header {
    margin-inline: 20px;
  }
}