body {
  color: #FF6060;
  margin: 0;
  background: #E5E5E5;
}

a {
  color: #FF6060;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  object-fit: cover;
}

* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

header {
  margin-top: 40px;
}

main, header {
  margin-inline: 100px;

}

ul {
  list-style: none;
}

/* masquage scrollbar latéral de la page */
::-webkit-scrollbar {
  display: none;
  }